name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build da imagem
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/medical-api:prod .

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/medical-api:prod

  deploy:
    needs: build
    runs-on: self-hosted

    steps:
      - name: Atualizar containers com docker-compose
        run: |
          cd /var/www/prod
          docker compose -f docker-compose.yml pull
          docker compose -f docker-compose.yml up -d
          docker system prune -f
